/static/image_database/gallery/2016
/static/image_database/gallery/2017
/static/image_database/gallery/2018
/static/image_database/gallery/2019
/static/image_database/gallery/2020
/static/image_database/gallery/2021
/static/image_database/gallery/2022
/static/image_database/gallery/2023
