h1 {
    font-family: "Pacifico" !important;
    font-weight: 100;
    font-size: 600%;
    line-height: 0.7;
    color: white !important;
}

p,a,strong,h2,h3,h4,h5,h6,span {
    font-family: "Delius" !important;
    color: white !important;
}

div.tintable {
    background-color: #4A7AAF !important;
}