html {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

html * {
    color: black;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

html div {
    background-color: white;
}

body {
    height: 100vh;
}

#content {
    overflow-y: scroll;
    overflow-x: hidden !important;
    background-color: transparent;
    padding-top: 5vw;
    height: 84vh;
    line-height: 150%;
}

#content * {
    margin-left: 4vw;
    margin-right: 4vw;
}

#content div {
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-left: 0;
    margin-right: -1vw;
    margin-bottom: 0;
}

#content::-webkit-scrollbar {
    width: 8px;
}

h1 {
    color: black;
    height: auto;
    padding-bottom: 1vh;
    padding-top: 1vh;
    margin-bottom: 2vh
}

#adress {
    text-wrap: nowrap;
}

.spaceholder_medium {
    height: 30vh;
    background-color: transparent !important;
}

.spaceholder_small {
    height: 10vh;
    background-color: transparent !important;
}

.spaceholder_tiny {
    height: 3vh;
    background-color: transparent !important;
}

#content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}

.inverted #content::-webkit-scrollbar-thumb, .fake_inverted #content::-webkit-scrollbar-thumb {
    background-color: #eee;
}

#content::-webkit-scrollbar-track {
    background-color: white;
}

.inverted #content::-webkit-scrollbar-track, .fake_inverted #content::-webkit-scrollbar-track {
    background-color: #222;
}

#footer {
    padding-top: 1vh !important;
    width: 100vw;
    height: min-content;
}

.blog_post {
    width: 50vw
}

.blog_post img {
    width: 80%
}

.blog_post strong {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.blog_post a {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


#feed_container {
    justify-items: center;
    justify-content: center;
}


img#background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.horizontal_container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 3vw !important;
    flex-direction: row !important;
    justify-content: left !important;
    align-items: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 5% !important;
}

strong {
    color: #01378b;
}

#header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navbar {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: max-content;
}

.navbar_item {
    cursor: pointer;
    user-select: none;
    justify-content: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    height: 30%;
    margin-right: 2vw;
    background-color: transparent !important;
}

.navbar_text {
    text-wrap-mode: nowrap;
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.navbar_text:hover {
    color: #01378b;
}

.line {
    padding: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 1vw !important;
    margin-bottom: 1vw !important;
    height: 1px !important;
    background-color: black;
}

.ui_icon {
    margin-right: 0.7vw;
}

#logo {
    margin-left: 1vw;
    min-height: 7vh !important;
    height: 7vh !important;
    min-width: 7vh !important;
    width: 7vh !important;
    display: block;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

img {
    color: unset;
    background-color: unset;
    border-radius: 10px;
}

img.content_img {
    width: 70%;
}

img.content_img.medium {
    width: 40%;
}

.ui_icon {
    filter: invert(1);
    height: 100%
}

#index_item {
    display: flex;
}

#info {
    padding-top: 0 !important;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}

#map {
    width: 30vw;
}
#map a, #map span {
    color: black !important;
}

#location_map {
    width: 100%;
    height: 10vh;
    margin-left: 4vw !important ;
}

#location_map * {
    margin: 0 !important;
    padding: 0 !important;
}

.compact_info {
    padding-top: 0 !important;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}

.horizontal_container * {
    height: 80%;
    margin-left: 0.5vw !important;
    margin-right: 0.5vw !important;
}

input {
    height: auto;
    width: 40%;
    padding: 1vw;
    border: #01378b;
    border-width: 5px;
    border-radius: 1vw;
    background-color: #eee;
    color: black;
    margin-bottom: 1vh;
}

input[type="checkbox"] {
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-right: 1vw !important;
    width: 1rem;
    height: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    accent-color: #01378b; /* modern browsers: fill/check color */
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #bbb;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

input[type="checkbox"]:checked {
    background: #01378b !important;
    border-color: #01378b !important;
}

/* simple white checkmark for browsers where appearance is none */
input[type="checkbox"]::after {
    content: "";
    position: absolute;
    left: 34%;
    top: 12%;
    width: 28%;
    height: 56%;
    border: solid transparent;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

input[type="checkbox"]:checked::after {
    border-color: #fff;
    opacity: 1;
}

div.close {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.obfuscated {
    font-family: monospace !important;
}


button {
    height: auto;
    width: auto;
    padding: 1vw;
    border: #01378b;
    border-width: 5px;
    border-radius: 1vw;
    background-color: #eee;
    color: black;
    transition: all 0.3s ease-in-out;
}

button:hover {
    color: #01378b;
}

button.no_space {
    margin: 0 !important;
}

.leiter_liste {
    margin-bottom: 0 !important;
}

#gallery button {
    width: 100%;
    margin: 0 !important;
    margin-bottom: 1em !important;
}

.silkscreen * {
    font-family: Silkscreen !important;
}

#content p a {
    color: #01378b;
    margin: 0 !important;
}

.inverted * {
    color: white !important;
    background-color: #222;
    transition: all 300ms ease-in-out
}

.transition * {
    transition: all 300ms ease-in-out
}

.transition #map * {
    transition: none 0ms ease !important;
}

.fake_inverted img.ui_icon {
    filter: invert(0) !important;
}

.fake_inverted * {
    color: white !important;
}

.inverted h1 {
    background-color: transparent !important;
}

.inverted h2 {
    background-color: transparent !important;
}

.inverted h3 {
    background-color: transparent !important;
}

.inverted strong {
    color: #02cdfb !important;
}

.inverted img.ui_icon {
    filter: invert(0)
}

.inverted iframe {
    filter: invert(1)
}

.inverted h3 {
    color: white;
}

.inverted button:hover, .fake_inverted button:hover {
    background-color: #444;
}

.right {
    margin-left: auto !important;
    margin-right: 4.5vw !important;
    align-self: flex-end !important;
    text-align: right !important;
}

strong.right,
a.right,
strong.left,
a.left {
    display: block;
}

.inverted h2 {
    color: #72f3ff !important;
}

h2 {
    color: #01378b;
    margin-bottom: 2vh !important;
}

h2.big {
    color: #01378b;
    height: 7vh;
    font-size: 500%;
    text-align: left;
    text-anchor: middle;
    padding-top: 3vh !important;
    margin-bottom: 2vh !important;
}

.obfuscated {
    font-family: monospace;
}

.leiter_info p {
    margin-left: 0 !important;
}

.leiter strong {
    margin: 0 !important;
}

div.centered {
    align-items: center;
    text-align: center;
}

.nospace {
    margin: 0 !important;
}

.leiter_bild {
    height: 50vh;
}

.leiter_bild img {
    height: 100%;
    border-radius: 1vw;
}

.leiter_info {
    padding-top: 4vh !important;
    align-items: center;
    justify-content: left;
}

.leiter_horizontal {
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: flex;
    flex-direction: row;
}

.leiter_horizontal * {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    z-index: 9999;

    align-items: center;
    justify-content: center;

    padding: 0 !important;
    margin: 0 !important;

    flex-direction: column;
}

#overlay .horizontal_container {
    width: 100%;
    height: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

/* #top_image_controls {
    padding: 0 !important;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: right !important;
    background-color: rgb(0, 0, 0);
    margin-top: 0 !important;
} */

#top_image_controls {
    top: 0;
    left: 0;
    position: fixed;
    padding: 0 !important;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: right !important;
    background-color: rgb(0, 0, 0);
    margin-top: 0 !important;
}

#top_image_controls img {
    margin-left: 0 !important;
    height: 80%;
}

#overlay .horizontal_container img {
    margin-left: auto !important;
    margin-right: auto !important;
}

#big_image {
    border-radius: 15px;
    object-fit: contain;
    width: 100%;
    height: 90%;
}

.img {
    user-select: none;
}

#hello {
    width: 30vw;
}

#gallery {
    padding: 0 !important;
    width: 90vw;
    margin: 0 auto !important;
    /* Center the gallery */
    column-count: 3;
    column-gap: 1vw;
}

#gallery img {
    margin-bottom: 1em !important;
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    /* or adjust this to match your images */
    object-fit: cover;
    /* Ensure images fill the container */
    background: #ccc;
    /* Optional: background color before the image is loaded */
    margin-left: 0 !important;
}


#gallery_back {
    margin-right: 2vw
}

#gallery_options {
    padding-left: 4vw !important;
    display: flex;
    flex-direction: row;
}

#gallery_options button {
    margin-right: 1vw !important;
    margin-left: 0 !important;
}

.leiter_info span {
    margin: 0 !important;
}

html body div.campbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 4vh !important;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: white;
}
html body div.campbar * {
    text-decoration: none;
    color: black;
}
html body div.campbar span {
    margin-right: 2vw;
    margin-left: 2vw;
}

html body.inverted div.campbar * {
    color: white;
}
html body.fake_inverted div.campbar * {
    color: white;
}

html body.inverted div.campbar{
    text-decoration: none;
    background-color: black;
}

@media (min-width: 768px) {
    .desktop-invis {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .mobile-invis {
        display: none !important;
    }

    .leiter_info p {
        margin-left: 4vw !important;
    }

    #hello {
        width: unset;
    }

    .leiter_bild {
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 1vh !important;
    }

    .leiter_bild img {
        height: auto;
        width: 90vw;
    }

    .leiter_horizontal {
        margin-top: 0 !important;
        padding-top: 0 !important;
        display: flex;
        flex-direction: column;
    }

    h2.big {
        color: #01378b;
        height: 7vh;
        font-size: 350%;
    }

    .obfuscated {
        white-space: nowrap !important;
        overflow-x: none !important;
        overflow-y: hidden !important;
    }

    #gallery {
        column-count: 1;
    }

    #gallery_options button {
        padding: 2vh;
    }

    #gallery button {
        padding: 3vh;
        width: 100%;
        height: 10vh;
        margin-right: 5% !important;
        margin-bottom: 5% !important;
    }

    input {
        width: 90%;
        padding: 3%;
    }

    #info {
        flex-direction: column;
    }

    .compact_info {
        flex-direction: column;
    }

    #header {
        padding-top: 1vh;
        padding-bottom: 1vh;
        justify-content: center;
        height: 7vh;
    }

    #index_item {
        display: none;
    }

    #logo {
        padding-top: 1vh !important;
        padding-bottom: 1vh !important;
        margin-right: 0 !important;
        height: 4vh !important;
        width: 4vh !important;
    }

    .ui_icon {
        filter: invert(1);
        width: 100%;
    }

    .navbar_item {
        margin: 0;
        height: 4vh;
        width: 14.28%;
    }

    .spaceholder_small {
        height: 7vh
    }

    .navbar_text {
        display: none;
    }

    #navbar {
        margin-left: 2vw;
    }

    #map {
        width: 90%;
    }

    .blog_post {
        width: 90vw
    }

    #content {
        height: 80vh;
    }

    h1 {
        padding-bottom: 2vh;
        height: max-content;
    }

    img.content_img {
        width: 90% !important;
    }
}